.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 10px;
  }

  .filter-projects-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    z-index: 10;
  }

  #dropdown-variants-primary {
    background-color: black;
    border-radius: 0px;
    width: 100%;
    margin-left: 15px;
    font-size: 28px;
  }

  #dropdown-variants-primary:focus {
    outline: none;
    box-shadow: none;
  }

  #dropdown-variants-primary:hover {
    border-color: rgb(0, 255, 128);
  }

  .dropdown-menu {
    border-radius: 0px;
    font-size: 20px;
  }

  .dropdown-item:hover {
    background-color: rgb(0, 255, 157);
    color: black;
  }

  .dropdown .active {
    background-color: rgb(0, 255, 157);
    color: black;
  }

  @media only screen and (max-width: 818px) {
    .filter-text {
      display: none;
    }

    #dropdown-variants-primary {
      margin: 0px;
      margin-bottom: 20px;
      width: 100vw;
    }

    .dropdown-menu {
      width: 100%;
      text-align: center;
    }
  }