html {
    scroll-behavior: smooth;
}

.supporting-service-title {
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}

.service-logo {
    margin-right: 10px;
}

.service-support-text {
    margin-top: 3px;
}

.service-page-title {
    max-width: 600px;
    margin: 20px auto;
    font-weight: bold;
}

.service-card {
    margin: 0 auto;
    padding: 200px 0;
    text-align: left;
    max-width: 800px;
}

.service-card-title {
    text-align: center;
    margin: 20px;
}

.services-overview {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

#service-top-icons {
    color:white;
    font-size: 65px;
    transition: 0.3s ease;
}

#service-top-icons:hover {
    color: rgb(0, 255, 136);
    cursor: pointer;
}

.service-desc {
    margin: 20px;
}

.service-name {
    border-bottom: 2px rgb(0, 255, 136) solid;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media only screen and (max-width: 644px) {
    .supporting-service-title {
        display: block;
    }

    .service-support-text {
        margin-top: 10px;
    }

    .services-overview {
        display: none;
    }
}