:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

html, body, .root {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.site-button {
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 45px;
    border: rgba(255, 255, 255, 0.411) 2px solid;
    right: 0;
    z-index: 10;
    color: rgba(255, 255, 255, 0.411);
    transition: 0.3s ease;
    padding: 10px 15px 6px 15px;
    margin: 15px;
    cursor: pointer;
}

.site-button:hover {
    color: rgb(0, 255, 136);
    background-color: black;
    border: rgb(0, 255, 136) 2px solid;
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}