:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

html, body, .root {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.site-button {
    position: fixed;
    top: 100vh;
    right: 0vh;
    z-index: 10;
    color: rgba(255, 255, 255, 0.411);
    transition: 0.3s ease;
    padding: 10px;
}

.site-button:hover {
    color: rgb(0, 255, 136);
    background-color: rgb(43, 43, 43);
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}